/* Specificity Exercise */

/* Completed by Serena Glick / sglick@pdx.edu / sgpdx GitHub */

/* We calculate specificity via x,y,z coodinates where:
    x = # of id selectors
    y = # of class, pseudo-class and attribute selectors
    z = # of element and pseudo-element selectors

    The explanation and calculation appear after each rule.
  */

nav .list-item > a {
  color: var(--purple);
}

/*This has 0 ids, 1 class (list-item), and 2 elements (<nav> and <a>) 
So the calculation result is: (0,1,2) */

#main::first-letter {
  color: var(--purple);
}

/*This has 1 id (main), 0 classes or attributes, and 1 pseudoelement (::first-letter) 
So the calculation result is: (1,0,1) */

input[type] {
  color: var(--purple);
}

/*This has 0 ids, 1 attribute [type] and 1 element (input) 
So the calculation result is: (0,1,1) */

section .main::first-line {
  color: var(--purple);
}

/*This has 0 ids, 1 attribute (.main), and 1 pseudoelement (::first-line) + 1 element (<section>)
So the calculation result is: (0,1,2) */

nav ul.menu li#first a:not([class="visited"]) {
  color: var(--purple);
}

/*This has 1 id (#first index), 1 class (menu) + 1 attribute [class="visited"], and 4 elements (<nav>,<ul>, <li>, <a>)
So the calculation result is: (1,2,4) */

div ol li ul li ol li ul li a {
  color: var(--purple);
}

/*This has 0 ids, 0 classes, pseudoclasses, or attributes, and 10 elements:
 <div>, <ol>, <li>, <ul>, <li>, <ol>, <li>, <ul>, <li>, <a>
So the calculation result is: (0,0,10) */
